<div>
  {{ player.name }}
  <span *ngIf="opponentWin"> wins!</span>
  <span *ngIf="success"> loses!</span>
</div>
<div class="wrapper">
  <table class="scale mt-3">
    <tr *ngFor="let r of range">
      <td *ngFor="let c of range">
        <bin-box [value]="grid[r][c]" [disabled]="true"></bin-box>
      </td>
      <td class="total total-right">
        <div [class.valid]="rowValid[r]">
          X
        </div>
      </td>
    </tr>
    <tr>
      <td *ngFor="let c of range"
          class="total total-bottom">
        <div [class.valid]="colValid[c]">
          X
        </div>
      </td>
      <td></td>
    </tr>
  </table>
  <div *ngIf="opponentWin" class="scale overlay d-flex justify-content-center align-items-center">
    <i class="fas fa-check fa-5x green"></i>
  </div>
  <div *ngIf="success" class="scale overlay d-flex justify-content-center align-items-center">
    <i class="fas fa-times fa-5x red"></i>
  </div>
</div>
