@if (connected) {
  <div>
    <h3>Connected players</h3>
    @for (user of playersService.players | async; track user.uid) {
      <div
        class="row justify-content-center">
        <button (click)="playWith(user)"
          [class.btn-light]="!isOpponent(user)"
          [class.btn-success]="isOpponent(user)"
          [disabled]="user.playing || inParty(user) || isYou(user)"
          class="btn mt-2">
          {{ user.name }}
          @if (user.playing && !inParty(user)) {
            <span>(In game)</span>
          }
          @if (inParty(user)) {
            <span>(In party)</span>
          }
          @if (isYou(user)) {
            <span>(You)</span>
          }
        </button>
      </div>
    }
  </div>
}
