.game-links {
  max-width: 700px;
  margin: 0 auto;
}

.game-link {
  width: 150px;
  height: 150px;
  font-size: 200%;
}

@media (max-width: 992px) {
  .game-link-large {
    display: none;
  }

  .game-link {
    width: 130px;
    height: 130px;
    font-size: 175%;
  }
}

@media (max-width: 325px) {
  .game-link {
    width: 120px;
    height: 120px;
    font-size: 150%;
  }
}
