<div class="row h-100 align-items-center">
  <div class="col">
    <div class="row game-links justify-content-center">
      @for (n of [3, 4, 5, 6]; track n) {
        <button (click)="play(n)"
          class="btn btn-dark m-3 game-link">
          {{ n }} x {{ n }}
        </button>
      }
      <!--large devices only-->
      @for (n of [7, 8]; track n) {
        <button (click)="play(n)"
          class="btn btn-dark m-3 game-link game-link-large">
          {{ n }} x {{ n }}
        </button>
      }
    </div>
  </div>
</div>
