@if (loggedIn) {
  <div>
    <div class="row justify-content-center mt-3">
      <div class="col">
        <button class="btn btn-dark" routerLink="/home">
          <i class="fas fa-play pe-1"></i>
          Play as {{ username }}
        </button>
      </div>
    </div>
  </div>
}
<div class="row justify-content-center mt-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input [class.is-invalid]="form.touched && !form.valid"
        class="form-control"
        formControlName="username"
        id="username"
        type="text">
    </div>
    <button [disabled]="!form.valid"
      class="btn btn-dark"
      type="submit">
      <i class="fas fa-play pe-1"></i>
      Play
    </button>
  </form>
</div>
