<div>
  {{ player.name }}
  @if (opponentWin) {
    <span> wins!</span>
  }
  @if (success) {
    <span> loses!</span>
  }
</div>
<div class="wrapper">
  <table class="scale mt-3">
    @for (r of range; track r) {
      <tr>
        @for (c of range; track c) {
          <td>
            <bin-box [disabled]="true" [value]="grid[r][c]"></bin-box>
          </td>
        }
        <td class="total total-right">
          <div [class.valid]="rowValid[r]">
            X
          </div>
        </td>
      </tr>
    }
    <tr>
      @for (c of range; track c) {
        <td
          class="total total-bottom">
          <div [class.valid]="colValid[c]">
            X
          </div>
        </td>
      }
      <td></td>
    </tr>
  </table>
  @if (opponentWin) {
    <div class="scale overlay d-flex justify-content-center align-items-center">
      <i class="fas fa-check fa-5x green"></i>
    </div>
  }
  @if (success) {
    <div class="scale overlay d-flex justify-content-center align-items-center">
      <i class="fas fa-times fa-5x red"></i>
    </div>
  }
</div>
