<div class="row h-100">

  <!--Timer-->
  <div [class.expanded]="expandedLeft"
       class="border-right border-secondary h-100 panel panel-left">
    <h2 class="row justify-content-center pt-2">
      <span *ngIf="!gameFinished" class="timer py-2">{{ timerService.time | async | date:'mm:ss:SS' }}</span>
      <span *ngIf="gameFinished" class="timer py-2">{{ winTime | date:'mm:ss:SS' }}</span>
    </h2>
    <div class="row justify-content-center pt-2">
      <div *ngIf="opponent" class="ml-3">
        <bin-grid-opponent [player]="opponent" [size]="size"></bin-grid-opponent>
      </div>
    </div>
  </div>
  <div (click)="expandedLeft=!expandedLeft"
       [class.expanded]="expandedLeft"
       [class.other-expanded]="expandedRight"
       class="expander expander-left p-2">
    <i *ngIf="!expandedLeft" class="far fa-lg fa-clock"></i>
    <i *ngIf="!expandedLeft" class="fas fa-lg fa-chevron-right pl-1"></i>
    <i *ngIf="expandedLeft" class="fas fa-lg fa-chevron-left"></i>
  </div>

  <!--Game-->
  <div class="col d-flex flex-column align-items-center">
    <div>
      <bin-grid (completed)="onCompleted($event)" [size]="size" [stopped]="stopped"></bin-grid>
    </div>
    <div class="pt-2">
      <button (click)="stopGame()" *ngIf="!opponent && !stopped" class="btn btn-danger mx-2">
        <i class="fas fa-ban"></i>
        Stop
      </button>
      <button (click)="endGame()" *ngIf="stopped" class="btn btn-dark mx-2">
        <i class="fas fa-home"></i>
        Home
      </button>
      <button (click)="restart()" *ngIf="stopped" class="btn btn-restart mx-2">
        <i class="fas fa-undo"></i>
        Restart
      </button>
    </div>
    <div class="flex-grow-1"></div>

    <!--small devices only-->
    <h2 class="row justify-content-center d-lg-none mb-5">
      <span *ngIf="!gameFinished" class="timer py-2">{{ timerService.time | async | date:'mm:ss:SS' }}</span>
      <span *ngIf="gameFinished" class="timer py-2">{{ winTime | date:'mm:ss:SS' }}</span>
    </h2>

  </div>

  <!--High scores-->
  <div (click)="expandedRight=!expandedRight"
       [class.expanded]="expandedRight"
       [class.other-expanded]="expandedLeft"
       class="expander expander-right p-2">
    <i *ngIf="!expandedRight" class="fas fa-lg fa-chevron-left pr-1"></i>
    <i *ngIf="!expandedRight" class="fas fa-lg fa-trophy"></i>
    <i *ngIf="expandedRight" class="fas fa-lg fa-chevron-right"></i>
  </div>
  <div [class.expanded]="expandedRight"
       class="border-left border-secondary h-100 panel panel-right">
    <bin-high-scores [game]="size"></bin-high-scores>
  </div>

</div>
