<div class="d-flex">
  <!--large devices only-->
  <div class="col-3 d-none d-lg-flex">
  </div>
  <!---->
  <div class="col px-0 px-lg-3">
    <!--large devices only-->
    <h2 class="my-2 d-none d-lg-block">
      The Binary Game
    </h2>
    <!--small devices only-->
    <h4 class="my-2 d-lg-none">
      The Binary Game
    </h4>
    <!---->
  </div>
  <div class="col-5 col-lg-3 d-flex justify-content-center align-items-center px-0 px-lg-3">
    <button *ngIf="!onLoginPage"
            (click)="logout()"
            class="btn btn-outline-dark">
      <i class="fas fa-user pr-1"></i>
      <!--large devices only-->
      <span class="d-none d-lg-inline">
        {{ username }}
      </span>
      <!--small devices only-->
      <span class="d-lg-none">
        {{ (username.length > 8) ? (username | slice:0:7) + '...' : (username) }}
      </span>
      <!---->
    </button>
  </div>
</div>
