<div class="wrapper">
  <table>
    @for (r of range; track r) {
      <tr>
        @for (c of range; track c) {
          <td>
            <bin-box (valueChange)="updateValue(r, c, $event)"></bin-box>
          </td>
        }
        <td class="total total-right">
          <div [class.valid]="rowTot[r] === rowTarget[r]">
            {{ rowTarget[r] }}
          </div>
        </td>
      </tr>
    }
    <tr>
      @for (c of range; track c) {
        <td
          class="total total-bottom">
          <div [class.valid]="colTot[c] === colTarget[c]">
            {{ colTarget[c] }}
          </div>
        </td>
      }
      <td></td>
    </tr>
  </table>
  @if (stopped) {
    <div class="overlay d-flex justify-content-center align-items-center">
      @if (success) {
        <i class="fas fa-check fa-5x green"></i>
      }
      @if (!success) {
        <i class="fas fa-times fa-5x red"></i>
      }
    </div>
  }
</div>
