<div *ngIf="loggedIn">
  <div class="row justify-content-center mt-3">
    <div class="col">
      <button class="btn btn-dark" routerLink="/home">
        <i class="fas fa-play pr-1"></i>
        Play as {{ username }}
      </button>
    </div>
  </div>
</div>
<div (submit)="onSubmit()" class="row justify-content-center mt-3">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="username">Username</label>
      <input [class.is-invalid]="form.touched && !form.valid"
             class="form-control"
             formControlName="username"
             id="username"
             type="text">
    </div>
    <button [disabled]="!form.valid"
            class="btn btn-dark"
            type="submit">
      <i class="fas fa-play pr-1"></i>
      Play
    </button>
  </form>
</div>
